.table_row_hover:hover {
    background-color: #B9F590;
    cursor: pointer;
  }

body#tutor_applications {
  abbr[title~="required"] {
    border-bottom: 0px;
  }

  .dropdown-height-limit {
    max-height: 200px;
    overflow-y: scroll;
  }

  .allocate_menu {
    li{
      label {
        padding-left: 20px;
        margin: 0;
        padding-bottom: 0;
      }
    }
  }

  .filter {
    margin-top: 20px;
  }

  a.filter_button.active {
    opacity: 0.55;
  }
}

